body {
    background:#005f95;
    color:white;
}

.header {
    margin-top: 25px;
    display:flex;
    width:100%;
    justify-content: flex-end;
}

.header-items {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-items h1 {
    margin-bottom: 0px;
    font-weight: 800;
    font-size: 40px;
}

.header-items p {
    font-size: 13px;
}

.main-container {
    background:white;
    padding: 10px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px 30px 0px;
}

.content-header {
    color:black;
    padding: 15px 20px;
}

.content-header h2 {
    color:#80afca;
    font-size: 20px;
    margin-bottom: 0px;
}

.content-header p {
    color:#005f95;
    font-size: 25px;
    font-weight: 700;
    text-align: justify;
}

.btn-lookers {
   background: #005f95;
   height: 60px;
   line-height: 45px;
   font-size: 16px;
   font-weight: 500;
   text-align: left;
   border-radius: 10px;
   margin-top: 10px;
   border-color: transparent !important;
}

.img-fluid {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px 30px 0px;
}

.link-icon {
    margin-right: 20px;
}

.no-margin-bottom {
    margin-bottom: 0;
}