body {
    background:#005f95;
    color:white;
}

.header {
    margin-top: 25px;
    display:flex;
    width:100%;
    justify-content: flex-end;
}

.header-items {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-items h1 {
    margin-bottom: 0px;
    font-weight: 800;
    font-size: 40px;
}

.header-items p {
    font-size: 13px;
}

.main-container {
    background:white;
    padding: 10px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 20px 0px;
}

.content-header {
    color:black;
    padding: 15px 20px;
}

.content-header h2 {
    color:#80afca;
    font-size: 20px;
    margin-bottom: 0px;
}

.content-header p {
    color:#005f95;
    font-size: 25px;
    font-weight: 700;
    text-align: justify;
}

.btn-lookers {
   background: #005f95;
   height: 60px;
   line-height: 45px;
   font-size: 16px;
   font-weight: 500;
   text-align: left;
   border-radius: 10px;
   margin-top: 10px;
   border-color: transparent !important;
}

.lookers-border {
    border-radius: 30px 0px 30px 0px;
}

.img-car {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 20px 0px;
}

.link-icon {
    margin-right: 20px;
}

.no-margin-bottom {
    margin-bottom: 0;
}


/* sticker */
.sticker-body{
    background: transparent;
    display: flex;
    justify-content: center;
}
.sticker-main-container {
    padding: 0!important;
    height: 900px;
    position: relative;
}
.sticker-container {
    background:#005f95;
    color:white;
    width:500px;
    height:1245px;
    padding: 20px;
    border-radius: 50px 0px;
    position: relative;
}
.sticker-header {
    padding: 2em;
}
.sticker-header h2 {
    color:#80afca;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.sticker-header p {
    color:#005f95;
    font-size: 30px;
    font-weight: bold;
}
.sticker-price-container{
    padding: 0;
}
.sticker-price-header {
    margin-left: 20px;
    margin-top: 20px;
}
.sticker-price-header h4{
    text-transform: uppercase;
    color:#80afca;
    font-size: 20px;
}
.sticker-price-header h2{
    color:#005f95;
    font-size: 70px;
    font-weight: 700;
}
.sticker-price-header p{
    color:#4e9c30;
    font-size: 20px;
    font-weight: 700;
}
.sticker-car-data {
    width:100%;
    background:#f8f8f8;
    padding: 0;
}
.sticker-col {
    margin-top: 12px;
}
.sticker-data-list {
    padding: 20px;
}
.sticker-data-header {
    color:20px;
    color:#005f95;
}
.sticker-data-text {
    color:22.5px;
    color:#005f95;
    font-weight: bold;
}
.sticker-bottom h3 {
    font-size: 28px;
    color:#005f95;
    font-weight: 700;
    margin-left: 10px;
}
.sticker-bottom ul li {
    font-size: 25px;
    color:#005f95;
    font-weight: 400;
    line-height: 32px;
}
.qr-container {
    background: white;
    left:23%;
    position: absolute;
}
.qr-container img {
    margin:0px!important;
    border-radius: 15px;
    width:180px;
    height:180px;
}
.sticker-footer-items {
    position: absolute;
    bottom: 10px;
}
.sticker-footer-items  p {
    margin-bottom: 10px;
}
.link-icon {
    height: 25px;
    width: 25px;
}

/** confirmation **/
.confirmation-main-container {
    background:white;
    padding: 10px 20px;
    height: 77vh;
    position: relative;
    display:flex;
    justify-content:center;
}

.confirmation-btn {
    width:88%;
}

.text-container {
    color: #005f95;
    padding: 0 15%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    top:40%;
}

.lookers-btn-container {
    position: absolute;
    bottom: 15px;
    display:flex;
    justify-content:center;
}

.lookers-success {
    text-align: center;
}

/** success btn **/

.success-message {
    text-align: center;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    top:145px;
    height: 100px;
    width: 100px;
}
.success-message__icon {
    max-width: 90px;
}
.success-message__title {
    color: #005f95;
    transform: translateY(25px);
    opacity: 0;
    transition: all 200ms ease;
    font-size: 25px;
}
.active .success-message__title {
    transform: translateY(0);
    opacity: 1;
}

.icon-checkmark circle {
    fill: #005f95;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform 200ms cubic-bezier(0.22, 0.96, 0.38, 0.98);
}
.icon-checkmark path {
    transition: stroke-dashoffset 350ms ease;
    transition-delay: 100ms;
}
.active .icon-checkmark circle {
    transform: scale(1);
}

